@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header{
	background-color: aliceblue;
	padding: 30px 130px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 1;
	height: 20%;
}
.header img{
	width: 25%;
}
.header ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	gap: 40px;
	color:#11306C;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}
li{
	position: relative;
	display: block;
	transform: 0.5s;
	cursor: pointer;
}
li::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 4px;
	top: 100%;
	left: 0;
	transition: transform 0.5s;
	transform: scaleX(0);
	transform-origin: right;
	background-color: #11306C;
}
li:hover{
	color: #11306C;
}
li:hover::after{
	transform: scaleX(1);
	transform-origin: left;
}


.banner{
	background-image: url("pexels-theglory-302588.jpg");
	background-size: cover;
	position: relative;
	width: 100%;
	height: 1000px;
}
.banner p{
	color: darkorange;
	position: absolute;
	bottom: 20px;
	left: 50%;
	padding: 10px;
	font-size: 40px;
	font-family: 'Open Sans', sans-serif;
	
}
.banner span{
	font-family: 'Qwitcher Grypen', cursive;
	font-size: 200%;
}


.body1{
	background-color: aliceblue;
}
.body1 h1{
	text-align: center;
	padding: 100px 200px;
	font-family: 'Open Sans', sans-serif;
	color: #11306C;
}
.body1 span{
	font-family: 'Qwitcher Grypen', cursive;
	font-size: 200%;	
}
.body1-1{
	display: flex;
	justify-content: space-between;
	padding: 0px 200px;
	font-family: 'Open Sans', sans-serif;
}
.body1-1 img{
	height: 80%;
	
}
.body1-1-1 h3{
	color: darkorange;
	padding-bottom: 10px;
}
.body1-1-1 p{
	padding: 15px 0;
	padding-bottom: 20px;
}
.body1-1-1{
	padding-right: 100px;
}
.body1-1-1 a{
	color: white;
	background-color: darkorange;
	padding: 10px 10px;
	border-radius: 10px;
	font-size: 20px;
	margin-top: 20px;
}
.body1-1-1 a:hover{
	color: whitesmoke;
	background-color: #11306C;
}






.body2{
	background-color:whitesmoke;
	font-family: 'Open Sans', sans-serif;
}
.body2 h1{
	text-align: center;
	padding: 30px 100px;
	font-family: 'Open Sans', sans-serif;
	color: #11306C;
}
.body2-2{
	display: flex;
	justify-content: space-between;
}
.body2-2 .cot{
	width: 100%;
	padding: 0 40px;	
}
.body2-2 img{
	width: 100%;
}
.cot{
	text-align: center;
}
.cot h3{
	padding: 20px;
	color: darkorange;
	font-size: 150%;
}
.cot p{
	padding-bottom: 30px;
}
.cot a{
	color: white;
	background-color: darkorange;
	padding: 10px 10px;
	border-radius: 10px;
	font-size: 20px;
}
.cot a:hover{
	color: whitesmoke;
	background-color: #11306C;
}
.cot img{
	border: 10px solid #11306C;
}
.body2-1{
	padding: 60px;
	text-align: center;
}
.body2-1 h2{
	padding-top: 40px;
	padding-bottom: 50px ;
	font-family: 'Qwitcher Grypen', cursive;
	font-size: 50px;
	color: #11306C;
}
.body2-1 a{
	color: white;
	background-color: darkorange;
	padding: 10px 10px;
	border-radius: 10px;
	font-size: 20px;
}
.body2-1 a:hover{
	color: whitesmoke;
	background-color: #11306C;
}




.body3{
	background-color:aliceblue;
	font-family: 'Open Sans', sans-serif;
}
.body3-1{
	text-align: center;
	padding: 30px;
	
}
.body3-1 h1{
	font-family: 'Open Sans', sans-serif;
	color: #11306C;
	padding-bottom: 20px;
}
.body3-1-1{
	padding-top: 20px;
	display: flex;
	justify-content: center;
	gap: 5px;
}
.body3-1-1 p{
	border: 2px solid #11306C;
	padding: 10px 200px 10px 10px;
}
.body3-1-1 a{
	color: white;
	background-color: darkorange;
	padding: 10px 10px;
	border-radius: 10px;
	font-size: 20px;
}
.body3-2{
	display: flex;
	justify-content: space-between;
	padding: 30px;
}
.body3-2 img{
	width: 20%;
	
}
.body3-3{
	display: flex;
	justify-content: space-between;
	padding: 30px 200px;
	align-content: center;
}
.body3-3 li{
	font-size: 17px;
	font-family: 'Open Sans', sans-serif;
	color:#11306C;
	padding: 5px;
	text-align: center;
}
.body3-3-1{
	text-align: center;
	padding-right: 250px;
	padding-left: 250px;
	border-right: 2px solid #11306C;
	border-left: 2px solid #11306C;
}
.body3-3-1 ion-icon{
	font-size: 30px;
	color:#11306C;
}
.body3-3-1 p{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color:#11306C;
	text-align: center;
	padding: 20px;
}
.body3-1-1 a:hover{
	color: whitesmoke;
	background-color: #11306C;
}